<h3  #orderintro class="orderMenu--intro">Order Menu</h3>
<div class="orderMenu-grid">
	<div class="orderMenu">
		<div class="orderMenu__container">
			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/1.jpg" alt="scallops" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">Scallops</h5>
					<h6 class="orderMenu--item--info2">
						Fish Sauce, Palm Sugar or soft Brown Sugar, Garlic, Ginger,
						Mint
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹300</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(1,'Scallops')">
						-
					</button>
					
					<h6 class="orderMenu--item--h6">{{count[0]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(1,'Scallops')">
						+
					</button>
					<!-- <button
									class="orderMenu--item--buttonMore"
									onClick={() => this.increaseQty(1)}
								>
									+
								</button> -->
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/2.jpg" alt="Chilli_chicken" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">Chilli Chicken</h5>
					<h6 class="orderMenu--item--info2">
						Boneless chicken, Chilli sauce, Soya sauce, Onion, Garlic,
						Celery, Spring Onion and Freshly chopped Coriander for
						garnish.
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹400</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(2,'Chilli Chicken')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[1]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(2,'Chilli Chicken')">

						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/3.jpg" alt="Steak_tartare" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">Steak Tartare</h5>
					<h6 class="orderMenu--item--info2">
						Beef, Fillet Shallots, Cornichons, Nonpareille Capers,
						Parsley, Egg
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹600</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(3, 'Steak Tartare')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[2]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(3, 'Steak Tartare')">
						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/4.jpg" alt="Smoked_Salmon_Pancakes" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">
						Smoked Salmon Pancakes
					</h5>
					<h6 class="orderMenu--item--info2">
						Potato Pancakes with Smoked Salmon, Caviar and Dill Cream.
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹300</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(4, 'Smoked Salmon Pancakes')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[3]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(4,'Smoked Salmon Pancakes')">

						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/5.jpg" alt="Strawberry_Fudge
				" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">Strawberry Fudge</h5>
					<h6 class="orderMenu--item--info2">
						Strawberry frosting and White Chocolate chips
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹200</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(5,'Strawberry Fudge')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[4]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(5,'Strawberry Fudge')">

						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/6.jpg" alt="Nutella_Mouse" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">Nutella Mouse</h5>
					<h6 class="orderMenu--item--info2">
						Nutella, Whipped cream, Brown Sugar, Dark Chocolate
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹200</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(6,'Strawberry Fudge')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[5]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(6,'Strawberry Fudge')">

						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/7.jpg" alt="Homemade_Frozen_Yogurt" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">
						Homemade Frozen Yogurt
					</h5>
					<h6 class="orderMenu--item--info2">
						Heavy Whipped cream, all purpose flour, Eggs, Crushed
						Pineapple, White Chocolate
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹150</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(7,'Frozen Yogurt')">

						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[6]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(7,'Frozen Yogurt')">


						+
					</button>
				</div>
			</div>

			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" src="assets/8.jpg" alt="Rosses" />
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">
						Red Roses and Champagne
					</h5>
					<h6 class="orderMenu--item--info2">
						Champagne Wrapped in hundered Beautiful Red Roses.
					</h6>
				</div>
				<h5 class="orderMenu--item--price">₹700</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(8,'Red Roses and Champagne')">


						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[7]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(8,'Red Roses and Champagne')">


						+
					</button>
				</div>
			</div>
			<div class="orderMenu--item">
				<img class="orderMenu--item--thumb" [src]="todayList[length].imageUrl" [alt]="todayList[length].caption" width=144px height=144px/>
				<div class="orderMenu--item--info">
					<h5 class="orderMenu--item--info1">
						{{todayList[length].caption}}
					</h5>
					<h6 class="orderMenu--item--info2">
						{{todayList[length].description}}
										</h6>
				</div>
				<h5 class="orderMenu--item--price">&#8377; {{todayList[length].amount}}</h5>
				<div class="orderMenu--item--qtyContainer">
					<button class="orderMenu--item--buttonLess" (click)="decreaseQty(9, 'Todays Special')">


						-
					</button>
					<h6 class="orderMenu--item--h6">{{count[8]}}</h6>
					<button class="orderMenu--item--buttonMore" (click)="increaseQty(9,'Todays Special')">


						+
					</button>
				</div>
			</div>

			<div class="orderMenu__done">
				<h5 class="orderMenu__done--total">
					Total: ₹ {{total}}
				</h5>

				<button (click)="onSubmit()" [disabled]="this.order.total==0" class="btn btn-dark" style="margin-left:14%">
					Add to Cart
				</button>
			</div>
		</div>
	</div>





<!-- ***************************************************************************************************** -->






	


</div>


