<div class="div2">
        <table class="table table-hover">
          <caption class="orderMenu--intro" style=" caption-side:top ;font-size: 34px; color: #dc3545">Table Bookings
          </caption>
          <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Timing</th>
            <th>2-Seater</th>
            <th>4-Seater</th>
            <th>8-Seater</th>
            <th>Actions</th>
          </thead>
          <tbody >
              <ngx-spinner *ngIf="!bookingList" size = "medium" color = "#06252b" type = "timer"><p style="color: white" > Loading... </p></ngx-spinner>

            <tr  [attr.id]="user.id"
                *ngFor="let user of bookingList"
                >
              <td> {{user.name}} </td>
              <td> {{user.phone}} </td>
              <td>{{user.email}}</td>
              <td> {{user.date}} {{user.time}} </td>
              <td> {{user.twoSeater}} </td>
              <td> {{user.fourSeater}} </td>
              <td> {{user.eightSeater}} </td>
              <td> 
                <div [attr.id]="user.id + 'o'">
                  <a class="btn text-danger" (click)="bookingRead(user,user.id)"><i class="fa fa-check-circle"></i></a> 
                  <a class="btn text-danger" (click)="deleteBooking(user,user.id)"> <i class="fa fa-trash"></i> </a> </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>