
  <div class="aboutbannerwrapper">
    <div class="aboutbannerheading">
      Our Story
    </div>
      
    <div class="aboutbannerquote" style="margin-top: 25%;color: #BA1216; ">
      <!-- There is food and then there is dining, <br/> We know the difference ... -->
      “A good cook is like a sorceress who dispenses happiness.”
    </div>
  </div>
  <div class="aboutchefwrapper">
    <div class="aboutchefrow">
      <img class="aboutchefleft" src="assets/monica%20cook.png" style="margin-top: 25px;">
      <div class="aboutcheftext">
        <span class="aboutchefname">Monica Geller</span>
          <br> 
        <span class="aboutchefquote">She is the master chef of  My Restaurant . Her primary role is in managing the
          overall kitchen. He is also responsible for managing different outlets of My Restaurant restaurant. Another role of him
          is to control kitchen cost and liaising with suppliers and creating the menus.
        </span>
        <br>
        
      </div>
      <!-- <div class="aboutchefright"></div> -->


    </div>
    <div class="aboutchefrow">
      <div class="aboutchefleft"></div>
      <div class="aboutcheftext">
        <span class="aboutchefname">Bond James</span>
          <br>
        <span class="aboutchefquote">He is the Sous-Chef which is the direct assistant of the main chef. He works
          according to assigned the duties of the head chef. He is responsible for scheduling the kitchen staff. He
          works in place of the head chef when he is out. His other roles are looking after the cleanliness, he also
          trains the entire staff.</span>
        
      </div>
      <br>
      <div>
        <img class="aboutchefright" src="assets/sous%20cook.png" style="float: right; margin-top: 25px;" />
      </div>
      

    </div>
    <div class="aboutchefrow">
      <img class="aboutchefleft" src="assets/chef3.png" style="margin-top: 25px;">
        <br>

      <div class="aboutcheftext">
        <span class="aboutchefname">Chandler Bing</span>
          <br>

        <span class="aboutchefquote">He is a Commis Chef, which is a junior member of staff that works under a chef de
          partie in order to learn the ins and outs of a specific station. His work duties are Kitchen Porter and dish
          washer His speciality is in Chinese food.</span>
<br>
      </div>
      <div class="aboutchefright"></div>


    </div>
    <div class="aboutchefrow">
        <div class="aboutchefleft"></div>

      <div class="aboutcheftext">
          <br>
        <span class="aboutchefname">Phoebe Buffay</span>
        <br>
        <span class="aboutchefquote">She is a chef de partie which sometimes is called “line cook”. She is in charge of a
          particular area of production. She is responsible for the making of the dishes present in the menu. Her
          speciality is in north and south Indian food.</span>
      </div>
      <div>
        <img class="aboutchefright" src="assets/chef4.png" style=" float: right;margin-top: 25px;">

      </div>

    </div>

  </div>

 <div>new</div>