
/* .parent4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div14 { grid-area: 1 / 1 / 2 / 2; }
     */
    .test-form{
    margin: 10px auto;
    border: 5px inset #1A5B82;
    border-radius: 15px;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}
textarea::-webkit-input-placeholder {
padding-top: 30px ; 
 }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    padding-top: 30px ;   }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    padding-top: 30px ;   }
  
  textarea:-ms-input-placeholder {
    padding-top: 30px ;   }
  
  textarea::placeholder {
    padding-top: 30px ;   }
