<div class="pagewrapper">
  <!-- <div class="navbarwrapper">
      <div class="tophalfcontentwrapper">
        <div class="topleftcontentwrapper">

        </div>
        <div class="logowrapper">
          My Restaurant
        </div>
        <div class="toprightcontentwrapper">
          <button type="button" class="btn btn-success">Login</button>
          <button type="button" class="btn btn-primary" style="width: 80px">SignUp</button>
        </div>
      </div>
      <div class="bottomhalfcontentwrapper">
        <div class="navbarlinkwrapper">
          <a class="navbarlink" href="">
            ABOUT
          </a>

          <a class="navbarlink" href="">
            BOOKING
          </a>

          <a class="navbarlink" href=" ">
            MENU
          </a>

          <a class="navbarlink" href="">
            DELIVERY
          </a>


          <a class="navbarlink" href="">
            CONTACT
          </a>
        </div>
      </div>
    </div> -->
    <!-- <mat-spinner style="margin:0 auto;" color="black" *ngIf="!todayList" ></mat-spinner> -->

<div>
    <ngx-spinner *ngIf="!todayList" size = "medium" color = "#06252b" type = "timer"><p style="color: white" > Loading... </p></ngx-spinner>

    <div *ngIf="todayList" class="featuredboxwrapper">
        <div class="leftwrapper">
          <div class="featuredheadingwrapper">
            Today's Specials
          </div>
          <div class="featureddetailswrapper">
            <div class="itemheading">{{todayList[length].caption}}</div>
            <div class="details"> {{todayList[length].description}} </div>
          </div>
          <div class="featuredpricewrapper">
            <p> &#8377; {{todayList[length].amount}} &nbsp;</p>
          </div>
        </div>
        <div class="rightwrapper">
          <img [src]="todayList[length].imageUrl" [alt]="todayList[length].caption" width=100%>
        </div>
      </div> 
</div>

<div>
  <!-- <mat-spinner style="margin:0 auto;" color="warn" *ngIf="!testimonialList" ></mat-spinner> -->
  <ngx-spinner *ngIf="!todayList"  size = "medium" color = "#06252b" type = "timer" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
  <div class="testimonialswrapper">
    <div class="testimonialsheadingwrapper">Testimonials</div>
    <div class="gridwrapwrapper">
      <div class="gridwrapper">
        <div *ngFor="let test of testimonialList">
        <div class="griditem">
          <img class="reviewavatar" src="assets/joey.jpeg" alt="{{test.name}}">
          <div class="reviewtext" style=" text-align: center;">
            <h4 style="color: rgba(221, 204, 51, 0.808); text-align:center">{{test.name}} says: </h4> &nbsp;
          </div>
          <div class="reviewtext" style=" text-align: center;">
            <p>  {{test.testimonial}}</p>
          </div>
        </div>
      </div>
      
      </div>
    </div>
    <div class="test-form">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div style="margin: 40px 0 20px 570px;">

          <input name="name" #name="ngModel" [(ngModel)]="userServ.testimonialData.name" class="formbox" style="border-radius: 5px;"
             placeholder="Name" required />
          <div *ngIf="name.touched && name.invalid" class="reqfield">Mandatory Field</div>
        </div>
        <div style="margin: 10px 20px">
          <textarea  rows="4" cols="150" name="testimonial" #testimonial="ngModel" [(ngModel)]="userServ.testimonialData.testimonial" placeholder="Take some time to share your experience" required></textarea>
          <div *ngIf="testimonial.touched && testimonial.invalid" class="reqfield" style="margin-left:620px">Mandatory Field</div>

        </div>
        <div>
          <button type="submit" class="btn btn-dark" style="margin: 40px 0 20px 570px">Share your experience</button>
        </div>

      </form>
    </div>
  </div>
</div>

  <div class="finalwrapper">
    <div class="bottomleftwrapper">
      <iframe width=100% height="680px"
        src="https://maps.google.com/maps?width=600&amp;height=450&amp;hl=en&amp;coord=28.6313827,77.2197924&amp;q=D%20block%2C%20Connaught%20Place%2C%20New%20Delhi+(My%20Restaurant)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
          href="https://www.maps.ie/coordinates.html"></a></iframe>
    </div>
    <div class="bottomrightwrapper">
      <!-- LightWidget WIDGET -->
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
        src="//lightwidget.com/widgets/8b957057e118514f9b9c7b3b8b647a15.html" scrolling="no" allowtransparency="true"
        class="lightwidget-widget" width="100%" height="580px"></iframe>

    </div>
  </div>


</div>