<!-- <div class="back">

    <div class="sign">
    
    <div class="sH1">My Restaurant</div> -->
<div class="loginwrapper">
    <div class="maincard" style="margin: 10% auto;transform: translateY(-20%)">
        <div class="sH1">Happy Place</div>
        <div class="sdetails" id="signupCard">
            <form name="userform"  #form="ngForm">

                <input class="sEmail" type="email" name="email" placeholder="email" style="position: absolute !important;
                top: 0%;left: -14%" #userEmail required><br>
                <input class="sPass" type="password" name="pass" placeholder="Password" style="position: absolute !important;
                top: 25%;left: -14%" #userPwd required><br>
                <!-- <input class="sconfirmPass" type="password" name="confirmPass" placeholder="Confirm Password"><br> -->
                <input class="sconfirmPass" type="text" name="displayName" placeholder="Name" style="position: absolute !important;
                top: 50%;left: -14%" #displayName required><br>
                <input class="sName" type="tel" maxlength="10" name="Mobile" placeholder="Mobile Number" style="position: absolute !important;
                top: 75%;left: -14%" #phone required><br>

                <button type="button" class="btn btn-dark btn-sm" [disabled]="form.invalid" (click)="authService.SignUp(userEmail.value, userPwd.value,displayName.value, phone.value)" style="position: absolute !important; top: 255px !important; ">SignUp</button>
                <div class="or" style="position: absolute !important; top: 300px !important; ">
                    <hr class="orlineL"> OR
                    <hr class="orlineR">
                </div>


                <button class="btn btn-danger btn-dm " type="button"(click)="authService.GoogleAuth()" style="position: absolute !important;
        top: 345px !important; "><span><i class="fa fa-google"></i></span><span> &nbsp;| Login with Google</span>
                </button>
                <!-- <button class="btn btn-primary" style=" position: absolute;top: 395px;left: 35px;" type="button"
                    (click)="onSignWithTwitter()">
                    <span><i class="fa fa-twitter"></i></span><span> &nbsp;| Login with Twitter</span> </button> -->

                <br>
                <a class="belowlogin" routerLink="/users/login" style="position: absolute !important;
        top: 450px !important; ">Already have an Account?<b> Log In</b> </a>
            </form>
        </div>
    </div>
</div>
<!-- </div>
    </div> -->