<div class="loginwrapper">
      
    <div class="maincard">
      <div class="sH1">My Restaurant</div>
      <div class="sdetails">
        
        <input class="sEmail" type="email" name="email" placeholder="EMAIL" size="30">
        <br>
        <input class="sPass" type="password" name="pass" placeholder="PASSWORD" size="30">
        <br>
        <button type="button" class="btn btn-dark btn-sm">Login</button>
        <br>
        
        <div class="or">OR</div>
        <br>
        
        <button class="btn btn-danger btn-sm" type="button"><span class="fa fa-google"></span> | Sign In</button>
        <br>
        <a class="belowlogin" href="">Don't have an Account?<b> Sign Up</b> </a>
      </div>
    </div>
  </div>
    