
      <div class="menuwrapper">
        <div class="menuheadingwrapper">Non Veg Specials</div>
        <div class="gridwrapwrapper">
          <div class="menugridwrapper">
            <div class="fooditem">
              <img class="foodpic" src="assets/tandoorichicken.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Tandoori Chicken</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/afghanichicken.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Afgani Chicken</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/chickentikka.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Chicken Tikka</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/ChilliChicken.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Chilli Chicken</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/butterchicken.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Butter Chicken</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Mutton.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Mutton</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Cseekh.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Chicken Seekh</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Mseekh.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Mutton Seekh</p>
              </div>
            </div>
          </div>
        </div>
        <div class="menuheadingwrapper">Veg Specials</div>
        <div class="gridwrapwrapper">
          <div class="menugridwrapper">
            <div class="fooditem">
              <img class="foodpic" src="assets/Bhatura.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Chole Bhatura</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Dalm.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Dal Makhni</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Kofta.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Kofta</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/PaneerT.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Paneer Tikka</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Dosa.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Dosa</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Kachori.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Kachori</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/olivier.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Olivier</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/chilipotato.jpg" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Chilli Potato</p>
              </div>
            </div>

          </div>
        </div>
        <div class="menuheadingwrapper">Breads</div>
        <div class="gridwrapwrapper">
          <div class="menugridwrapper">
            <div class="fooditem">
              <img class="foodpic" src="assets/wheatB.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Wheat Bread</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/whiteB.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">White Bread</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/MGB.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Multi-Grain Bread</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/BB.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Brown Bread</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/SB.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Sourdough Bread</p>
              </div>
            </div>

          </div>
        </div>
        <div class="menuheadingwrapper">Rice Dishes</div>
        <div class="gridwrapwrapper">
          <div class="menugridwrapper">
            <div class="fooditem">
              <img class="foodpic" src="assets/Lrice.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Lemon Rice</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Crice.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Claypot chicken rice</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Corice.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Congee</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Onrice.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Onigiri</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/idli.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Idlii</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/mrice.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Mansaf</p>
              </div>
            </div>
          </div>
        </div>
        <div class="menuheadingwrapper">Desserts</div>
        <div class="gridwrapwrapper">
          <div class="menugridwrapper">
            <div class="fooditem">
              <img class="foodpic" src="assets/kheer.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Kheer</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/kulfi.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Kulfi</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/Jal.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Jalebi</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/imar.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Imarti</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/GKH.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Gajar ka Halwa</p>
              </div>
            </div>
            <div class="fooditem">
              <img class="foodpic" src="assets/sev.png" alt="Review Avatar">
              <div class="foodname">
                <p style="text-align: center;">Sevai</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <div class="signinprompt">
  <p style="text-align: center;">  
     
          <a class="signinprompt" routerLink="/booking"> Reserve a Table </a>
      
  </p>
    </div>
    <br>
    <br>

  