<div class="row">
    <div class="col-md-8 offset-md-2">

        <blockquote class="blockquote">
            <p class="mb-0 display-4" style="font-family: 'Great Vibes';font-size: 37px; color: #dc3545;margin-top: 20px; margin-left: 70px;">Today's Special</p>
            <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
        </blockquote>
        <div class="card" style="width:25rem">
            <div class="card-body">
                <form [formGroup]="dishTemplate" (submit)="onSubmit(dishTemplate.value)">
                    <div class="text-center">
                        <img [src]="imgSrc" width=350px height=250px (click)="fileUploader.click()">
                    </div> 
                    <div class="form-group">
                        <label> Select file to upload</label>
                        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required" style="margin-left: 91px"> Please Upload an Image</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="caption" placeholder="caption">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required "style="margin-left: 89px">Please state the Caption</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="amount" placeholder="amount">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.amount.errors?.required "style="margin-left: 89px">Please state the Amount</div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" formControlName="description"></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required "style="margin-left: 66px" placeholder=" Please provide the Description "> </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success float-right" type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>