
            <h1 style="text-align: center; margin-top: 5%; font-family: 'Great Vibes'; color: #dc3545 ;">User Profile</h1>
            <!-- <mat-spinner style="margin:0 auto;" color="warn" *ngIf="userInfo" ></mat-spinner> -->
          <div class="container-profile" *ngIf="authService.userData"  >
            
              <div class="div-img">
                <img class="dp" src="{{(authService.adminData.photoURL) ? authService.adminData.photoURL : '../../../../../assets/dummy-user.jpeg'}}"
                  alt="{{authService.adminData.name}}">
              </div>
                <div class="div-profile">
                  <h4 class="fonts">Hello: <strong>{{(authService.adminData.name) ? authService.adminData.name : 'Admin'}}</strong></h4>
                  <p>User ID: <strong>{{authService.adminData.uid}}</strong></p>
                  <p>Email: <strong>{{authService.adminData.email}}</strong></p>
                  <p>Email Verified: <strong>{{authService.adminData.emailVerified}}</strong></p>
                </div>
            </div>
  