<div class="parent">
    <div class="first">
        <div>
            <h4 class="header">Choose a delivery address</h4>
        </div>
        <div>
            <div class="container">
                    <ngx-spinner *ngIf="!addressList" size = "medium" color = "#06252b" type = "timer"><p style="color: white" > Loading... </p></ngx-spinner>

                <div class="items" *ngFor="let list of addressList">
                    <div class="box">
                        <div class="lmarg">
                            <div>
                                <span *ngIf=" list.addressType == 'Home'"> <i class="fa fa-home"></i></span>
                                <span *ngIf=" list.addressType == 'Office'"> <i class="fa fa-briefcase"></i></span>
                                <span *ngIf=" list.addressType == 'Other'"> <i class="fa fa-map-marker"></i></span>
                                <span class="add-type">
                                    {{list.addressType}}
                                </span>
                            </div>

                            <p class="add-name"> {{list.firstName}} {{list.lastName}} <br /> {{list.house}}
                                {{list.street}}
                                {{list.area}} - {{list.pincode}} <br /> {{list.mobile}}</p>

                        </div>
                        <div>
                            <span class="update-btn">
                                <a style="cursor: pointer; " (click)="onSelectAdd(list)"> DELIVER HERE</a></span>

                        </div>
                    </div>
                </div>

                <div class="items" style="height: 80px;">
                    <div class="box" style="padding-top:80px">
                        <a routerLink="/users/profile/add-address" class="add-new"> <span><i class="fa fa-plus-circle"
                                    aria-hidden="true" style="font-size:24px"></i> &nbsp;</span><span> Add new
                                address</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="bill-cont">
                <form  #form="ngForm" autocomplete="off" (submit)="submitOrder(form)">

            <div>
                <!-- <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="userServ.formdata.id"> -->
                <input  type="hidden" name="uid" #uid="ngModel" [(ngModel)]="authServ.userData.uid">
                <input class="formbox-1" name="firstName" #firstName="ngModel" [(ngModel)]="userServ.deliveryAddress.firstName"
                     required />
                    <label>First Name</label>

            </div>
            <div>
                <input class="formbox-1" name="lastName" #lastName="ngModel" [(ngModel)]="userServ.deliveryAddress.lastName"
                     required />
                    <label>Last Name</label>

            </div>
            <div>
                <input class="formbox-1" name="house" #house="ngModel" [(ngModel)]="userServ.deliveryAddress.house" 
                    required />
                    <label>House No.</label>

            </div>
            <div>
                <input class="formbox-1" name="street" #street="ngModel" [(ngModel)]="userServ.deliveryAddress.street"                    required />
                    <label>Street</label>

            </div>
            <div>
                <input class="formbox-1" name="area" #area="ngModel" [(ngModel)]="userServ.deliveryAddress.area" required>
                <label>Area</label>
            </div>
            <div>
                <input class="formbox-1" name="pincode" #pincode="ngModel" [(ngModel)]="userServ.deliveryAddress.pincode"
                     required>
                     <label>Pin Code</label>
            </div>
            <div>
                <input class="formbox-1" type="tel" maxlength="10" name="mobile" #mobile="ngModel"
                    [(ngModel)]="userServ.deliveryAddress.mobile" required>
                    <label>Mobile</label>
            </div>
            <div>
                    <input class="formbox-1 lastinput" name="amount" #amount="ngModel" [(ngModel)]="userServ.billData.total" readonly
                     required>
                     <label class="lastlabel">Bill Amount</label>
            </div>
            <div>
                <button class="sub-btn">Place Order</button>
            </div>
        
        </form>
        </div>
    </div>
</div>