<div class="div1-g"> 
        <div class="bookingheadingwrapper orderMenu--intro" style="font-size: 67px; color: #dc3545; margin: 150px 0 17px 422px; ">
            Unreserved Table
        </div>
        <div id="bookingFormContainer" class="bookingForm__container" >
            <form #form="ngForm" (submit)="onSubmit(form)">
              <input type="hidden" name="id" #id="ngModel" [(ngModel)]="userServ.unresTableData.id">
                <div class="form-margin">
                    <span style="font-size:30px;color:#7A766D;margin-left: 10px;">2-seater:</span>
                    <span>  
                        <select name="twoSeat" #twoSeat="ngModel" [(ngModel)]="userServ.unresTableData.twoSeat" type="number" style="margin-left: 30px">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </span>
                </div>
                <div class="form-margin">
                        <span style="font-size:30px;color:#7A766D;margin-left: 10px;">4-seater:</span>
                        <span>  
                            <select name="fourSeat" #fourSeater="ngModel" [(ngModel)]="userServ.unresTableData.fourSeat" type="number" style="margin-left: 30px">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </span>
                      
                    </div>
                    <div  class="form-margin">
                            <span style="font-size:30px;color:#7A766D;margin-left: 10px;">8-seater:</span>
                            <span style="margin-left: 30px">  
                                <select name="eightSeat" #eightSeater="ngModel" [(ngModel)]="userServ.unresTableData.eightSeat" type="number" >
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    
                                </select>
                            </span>
                        </div>
              <div>
                    <button type="submit" class="btn btn-dark " style="margin:10% 0 10% 26%;width: 100px ;">Submit</button>
                </div>
            </form>
        </div>
    </div> 