<div class="parent-dash">
    <div class="div1-dash">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <!-- <h3> {{(authServ.adminData.name) ? authServ.adminData.name : 'Admin'}} </h3> -->
                    <h3>Admin</h3>
                </div>
        
                <ul class="list-unstyled components">
                    <p>Dashboard</p>
                   
                    <li>
                        <a routerLink="user">User Profile</a>
                    </li>
                   
                    <li>
                        <a routerLink="order">Orders</a>
                    </li>
                    <li>
                        <a routerLink="today-special">Today's Special</a>
                    </li>
                    <li>
                            <a (click)="authServ.adminSignOut()">Sign Out</a>
                        </li>
                </ul>
        
            </nav>
            <!-- Page Content -->
            <!-- <div id="content">
        
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
        
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                </nav>
            </div> -->
        </div>
       </div>
    <div class="div2-dash"> 
      <router-outlet></router-outlet>
    </div>
    </div>