<!-- <div class="container"> -->
<!-- <div class="row"> -->

<div class="parent">
  <div class="div1"> 
      <div class="bookingheadingwrapper orderMenu--intro" style="font-size: 37px; color: #dc3545" >
          Unreserved Table
      </div>
      <div id="bookingFormContainer" class="bookingForm__container">
          <form #form="ngForm" (submit)="onSubmit(form)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="userServ.unresTableData.id">
              <div class="form-margin">
                  <span style="margin-left: 10px;color: grey">2-seater:</span>
                  <span>  
                      <select name="twoSeat" #twoSeat="ngModel" [(ngModel)]="userServ.unresTableData.twoSeat" type="number" style="margin-left: 30px">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                      </select>
                  </span>
              </div>
              <div class="form-margin">
                      <span style="margin-left: 10px;color: grey">4-seater:</span>
                      <span>  
                          <select name="fourSeat" #fourSeater="ngModel" [(ngModel)]="userServ.unresTableData.fourSeat" type="number" style="margin-left: 30px">
                              <option value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                          </select>
                      </span>
                    
                  </div>
                  <div  class="form-margin">
                          <span style="margin-left: 10px;color: grey">8-seater:</span>
                          <span style="margin-left: 30px">  
                              <select name="eightSeat" #eightSeater="ngModel" [(ngModel)]="userServ.unresTableData.eightSeat" type="number" >
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  
                              </select>
                          </span>
                      </div>
            <div>
                  <button type="submit" class="btn btn-dark " style="margin:10% 0 10% 30% ;">Submit</button>
              </div>
          </form>
      </div>
  </div> 
  <div class="div2">
    
    <table class="table table-hover">
      <caption class="orderMenu--intro" style=" caption-side:top;  font-size: 34px; color: #dc3545">Orders</caption>
      <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Payment Mode</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <!-- <a click="orderRead()"> -->
            <!-- <tr  [attr.id]="user.id"
            *ngFor="let user of list"
              [ngStyle]="{'backgroundColor': orderMsgRead ? 'white' : 'yellow'} "
              [(ngModel)]="!orderMsgRead"> -->
              <tr [attr.id]="user.id"
            *ngFor="let user of list">
            <td> {{user.fullname}} </td>
            <td> {{user.phone}} </td>
            <td> {{user.email}} </td>
            <td> {{user.address}} </td>
            <td> {{user.payment}} </td>
            <td> <a class="btn text-danger" (click)="orderRead(user.id)"><i class="fa fa-check-circle"></i></a> <a class="btn text-danger" (click)="deleteOrder(user.id)"> <i class="fa fa-trash"></i> </a></td>
          </tr>
        <!-- </a> -->

      </tbody>
    </table>
  </div>

  <div class="div3">
    <table class="table table-hover">
      <caption class="orderMenu--intro" style=" caption-side:top ;font-size: 34px; color: #dc3545">Table Bookings
      </caption>
      <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Date</th>
        <th>2-Seater</th>
        <th>4-Seater</th>
        <th>8-Seater</th>
        <th>Actions</th>
      </thead>
      <tbody >
        <tr  [attr.id]="user.id"
            *ngFor="let user of bookingList"
            >
          <td> {{user.name}} </td>
          <td> {{user.phone}} </td>
          <td>{{user.email}}</td>
          <td> {{user.date}} </td>
          <td> {{user.twoSeater}} </td>
          <td> {{user.fourSeater}} </td>
          <td> {{user.eightSeater}} </td>
          <td> <a class="btn text-danger" (click)="bookingRead(user.id)"><i class="fa fa-check-circle"></i></a> <a class="btn text-danger" (click)="deleteBooking(user.id)"> <i class="fa fa-trash"></i> </a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- </div> -->
<!-- </div> -->