<!-- <div class="container"> -->
<!-- <div class="row"> -->


        <div class="div1">
    
            <table class="table table-hover">
              <caption class="orderMenu--intro" style=" caption-side:top;  font-size: 34px; color: #dc3545">Orders</caption>
              <thead>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Orders</th>
                <th>Amount</th>
                <th>Actions</th>
              </thead>
              <tbody>
                
                      <tr [attr.id]="user.id"
                    *ngFor="let user of list">
                    <td> {{user.firstName}} {{user.lastName}} </td>
                    <td> {{user.mobile}} </td>
                    <td> {{user.house}} {{user.street}} {{user.area}}-{{user.pincode}} </td>
                    <td> {{user.fOrder}} </td>
                    <td> {{user.amount}} </td>
                    <!-- <td> {{user.payment}} </td> -->
                    <td> 
                      <a class="btn text-danger" (click)="orderRead(user.id)"><i class="fa fa-check-circle"></i></a> 
                      <a class="btn text-danger" (click)="deleteOrder(user.id)"> <i class="fa fa-trash"></i> </a>
                    </td>
                  </tr>
                <!-- </a> -->
        
              </tbody>
            </table>
          </div>
        
         


<!-- </div> -->
<!-- </div> -->