<div class="navbarwrapper" style="position: sticky; top:0; z-index:999">
    <div class="tophalfcontentwrapper">
        <div class="topleftcontentwrapper">

        </div>
        <div class="logowrapper">
            <a routerLink="" style="color:white">
                Happy Place
            </a>
        </div>
        <div *ngIf = "!this.authServ.isLoggedIn" class="toprightcontentwrapper">
            <a  class="btn btn-success" routerLink="login"
                style="width: 80px!important ; margin:0 10px 0 0">Login</a>
            <a class="btn btn-primary" routerLink="signup"
                style="width: 80px; margin:0 0 0 10px">SignUp</a>
            <a class="btn btn-danger" routerLink="/admin/login"
                style="width: 80px; margin:0 0 0 10px">Admin</a>
        </div>
        <div *ngIf = "this.authServ.isLoggedIn" class="toprightcontentwrapper">
                <div class="dropdown">
                        <img class="dropbtn userdisplay" src='../../../../../assets/dummy-user.jpeg'
                        alt="{{this.authServ.userData.displayName}}"> 
                       <div class="dropdown-content">
                          <a routerLink="profile">Profile</a>
                          <a (click)="authServ.SignOut()">Log Out</a>
                        </div>
                      </div>
            <a class="btn btn-danger" routerLink="/admin/login"
                style="width: 80px; margin:45px 0 0 15px">Admin</a>
        </div>
    </div>
    <div class="bottomhalfcontentwrapper">
        <div class="navbarlinkwrapper">
            <a class="navbarlink" routerLink="about">
                ABOUT
            </a>

            <a class="navbarlink" routerLink="booking">
                BOOKING
            </a>

            <a class="navbarlink" routerLink="menu">
                MENU
            </a>

            <a class="navbarlink" routerLink="delivery">
                DELIVERY
            </a>


            <!-- <a class="navbarlink" routerLink="contact">
              CONTACT
            </a> -->
        </div>
    </div>
</div>


<router-outlet></router-outlet>

<div class="navbarwrapper" style="position: sticky;bottom:0;z-index:999">

    <div class="bottomhalfcontentwrapper" style="height: 50px">
        <div class="navbarlinkwrapper">

            <a class="navbarlink" href="">
                <span class="glyphicon glyphicon-earphone"></span> 9999999999
            </a>

            <a class="navbarlink" href=" ">
                Major Project
            </a>

            <a class="navbarlink" href=""><span class="glyphicon glyphicon-envelope">
                </span>
                hi@HappyPlace.com
            </a>

        </div>
    </div>
</div>