<div class="loginwrapper" style=" overflow-y: hidden;" >
  <div class="maincard" style="  transform: translateY(-120px); height: 500px; width:300px">
    <div class="sH1" style="left:10%">Forgot Password</div>
      
            <p class="text-center" style="margin-top: 140px;">Please enter your email address to request a password reset.</p>
      
            <div>
              <input type="email" style="margin-left: 35px" placeholder="Email Address" #passwordResetEmail required>
            </div>
      
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
              <button type="submit" class="btn btn-primary" style="margin-left: 50px;margin-top:20px" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)"> Reset Password
           </button>
              </div>
            <div style="margin-left:50px;margin-top:20px">
              <span>Go back to ? <span class="redirect" routerLink="/users/login">Log In</span></span>
            </div>
          </div>
      
         
      
        </div>
      
      