
<div class="featuredboxwrapper">
    <div class="rightwrapper">
        <img src="assets/bookingbannerimage.jpg" alt="Pink Subtext Image" width=100%>
    </div>
    <div class="bookingleftwrapper">
        <div class="bookingbannerheadingwrapper">
            Join us ! <br>
        </div>
    </div>
</div>



<div class="bookingwrapper">
    <div class="bookingheadingwrapper">Tables Available Now</div>
     <div class="bookinggridwrapper">
        <img class="griditemsall" src="assets/2seater.png">
        <img class="griditemsall" src="assets/4seater.png">
        <img class="griditemsall" src="assets/8seater.png">
        <div class="bookinggridwrapper">
            <div class="griditemsmall"><span>3 available</span></div>
            <div class="griditemsmall"><span>5 available</span></div>
            <div class="griditemsmall"><span>4 available</span></div>
        </div>
    </div>

    <div class="bookingheadingwrapper">
        Book Table For Later
    </div>

    <div id="bookingFormContainer" class="bookingForm__container">
        <form >
            <div>
                <br>
                <input id="bookingFormName" placeholder="Name" onfocus="this.placeholder=''" onblur="this.placeholder='Name'" class="formbox"
                    type="text" value="" onChange=(this.handleNameChange); />
                <br />
                <br />
                <input id="bookingFormPhone" class="formbox"
                    placeholder="MOBILE NUMBER" onfocus="this.placeholder=''" onblur="this.placeholder='MOBILE NUMBER'" type="phone" value=""
                    onChange=(this.handlePhoneChange) border-top=none; />
                <br />
                <br />
                <input id="bookingFormEmail"    class="formbox"
                     placeholder="EMAIL " onfocus="this.placeholder=''" onblur="this.placeholder=' EMAIL'"
                    type="email" value="" onChange=(this.handleEmailChange) />
                <br />
                <br />
                <input id="bookingFormDate"  placeholder="DATE" class="formbox"
                    type="text" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" value="" onClick=(this.toggleCalendar) />

                <br />
                <br />
                <!-- {{this.state.calendarVisible && (
                    <InputMoment moment={this.state.moment} onChange=(this.handleDateChange) onSave=(this.handleSave) minStep={1}
                    hourStep={1} prevMonthIcon="ion-ios-arrow-left" nextMonthIcon="ion-ios-arrow-right" />
                )}} -->
                
                <select  type="number" id="seatsSelector"  value=""
                    onChange=(this.handleSelectChange) style="margin-left: 30% ;">
                    <option value="0">Seats</option>

                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <br />
                <br />
                <br />
                <button type="submit" class="btn btn-dark" onClick=(this.handleBooking) style="margin:0 0 10% 30% ;">Submit</button>
        
                <!-- <p class="sEmail" id="error">
                    {{this.state.bookingErrorVisible && this.state.bookingErrorMessage}}
                </p> -->
            </div>
        </form>
    </div>
</div>


   
    