
   
    .cont{
        position: relative;
        background-image: linear-gradient(to top right, #12515E, black);
        min-height: 100%;
        width: 100%;
        /* background-size: 100% 100% cover; */
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center

    }
    .name{
     
        color: white;
        text-transform: capitalize;
        font-size: 32px;
        font-weight: 600;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;
    }
    .mail{
       
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;


    }
    .editbtn{
        transform: translate(-35px,-35px)!important;
        color: white;
        float: right;
        border : 1px white solid;
        padding: 12px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

    }
    .lowcont{
        background-color: #fff;
        width: 100%;
        /* height: 70vh; */
        min-height: 630px;
        top: 270px; 
        margin-left: 40px; 
       }
    .parent{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
        grid-column-gap: 100px;
        margin-top: 50px;
        margin-left: 30px;
    }
    .c2a{
         grid-area: 1 / 1 / 2 / 2; 
         background-color: #EDF1F7;

    }
    .c2b{
         grid-area: 1 / 2 / 2 / 3; 
    }
    .sidenav{
        /* height: 500px; */
        min-height: 570px;

        background-color: #EDF1F7;
    }
    ul li:first-child{
        margin-top: 10px;
    }
    ul li {
        padding:20px 0 20px 20px;
        margin-left: 20px;
    }
    ul li a{
        font-size:20px;
        color: #282C3F;
        font-weight: 300px;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;

    }
    ul li:hover{
        color: black;
        background: #fff;
    }
     a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        cursor: pointer;
    }
    
   .clicked{
        color: black !important;
        background: #fff !important;
    }
    /* list a:active{
        color:red !important;
    } */