
<div class="cont">
  <div>
    <div class="name">
      {{authService.userData.displayName}}
    </div>
    <div class="editbtn">
      Edit Profile
    </div>
    <div class="mail">
      {{authService.userData.email}}
    </div>
  </div>
  <div class="lowcont">
    <div class="parent">
      <div class="c2a">
        <div class="sidenav">
          <ul class="list-unstyled components"> 
              <li class="list">
                  <a routerLink="orders"> <span class="fa fa-shopping-bag"></span> &nbsp;Orders</a>
              </li>  
            <li class="list">
                <a routerLink="address"> <span class="fa fa-address-book"></span> &nbsp;Addresses</a>
            </li>
            
            </ul>
        </div>
      </div>
      <div class="c2b">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>