/* .container-profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 0px;
    margin: 5% 15% 30% 15%;
    }
    
    .div-profile { grid-area: 1 / 2 / 2 / 3;
    margin-top: 70px; }

    .div-img{
        grid-area: 1 / 1 / 2 / 2;
        height:300px;
        width:300px;
        border-radius: 50%;
        border: 5px inset #1A5B82;
        overflow: hidden;
        background-size: 100%;

    }
    img{
        height:300px;
        width:300px;
    } */
    /* .div-img img{

        transition: transform .5s ease;
    } */
    /* .div-img:hover img{
        transform: scale(1.05);
    } */
   
    /* .gparent{
        display: grid;
        grid-template-rows:1fr 4fr;
        grid-template-columns:1fr;
        grid-row-gap: 50px;

    }
        .c1 {
             grid-area: 1 / 1 / 2 / 2; 
                background-image: linear-gradient(to bottom right, #12515E, black);

            }
        .c2 {
             grid-area: 2 / 1 / 3 / 2;
             } */
   
    .cont{
        position: relative;
        background-image: linear-gradient(to top right, #12515E, black);
        min-height: 100%;
        width: 100%;
        /* background-size: 100% 100% cover; */
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center

    }
    .name{
        position: absolute;
        top:100px;
        left: 50px;
        color: white;
        text-transform: capitalize;
        font-size: 32px;
        font-weight: 600;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;
    }
    .mail{
        position: absolute;
        top:150px;
        left: 50px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;


    }
    .editbtn{
        position: absolute;
        top:118px;
        right: 50px;
        color: white;
        float: right;
        border : 1px white solid;
        padding: 12px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

    }
    .lowcont{
        background-color: #fff;
        width: 100%;
        /* height: 70vh; */
        min-height: 630px;
        position: absolute;
        top: 270px; 
        margin-left: 40px; 
       }
    .parent{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
        grid-column-gap: 100px;
        margin-top: 50px;
        margin-left: 30px;
    }
    .c2a{
         grid-area: 1 / 1 / 2 / 2; 
         background-color: #EDF1F7;

    }
    .c2b{
         grid-area: 1 / 2 / 2 / 3; 
    }
    .sidenav{
        /* height: 500px; */
        min-height: 570px;

        background-color: #EDF1F7;
    }
    ul li:first-child{
        margin-top: 10px;
    }
    ul li {
        padding:20px 0 20px 20px;
        margin-left: 20px;
    }
    ul li a{
        font-size:20px;
        color: #282C3F;
        font-weight: 300px;
        font-family: 'ProximaNova',Arial,Helvetica Neue,sans-serif;

    }
    ul li:hover{
        color: black;
        background: #fff;
    }
     a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
   /* li a:active {
        color: black !important;
        background: #fff !important;
    } */
    /* list a:active{
        color:red !important;
    } */