.container-profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 0px;
    margin: 5% 15% 30% 15%;
    }
    
    .div-profile { grid-area: 1 / 2 / 2 / 3;
    margin-top: 70px; }

    .div-img{
        grid-area: 1 / 1 / 2 / 2;
        height:300px;
        width:300px;
        border-radius: 50%;
        border: 5px inset #1A5B82;
        overflow: hidden;
        background-size: 100%;

    }
    img{
        height:300px;
        width:300px;
    }
    /* .div-img img{

        transition: transform .5s ease;
    } */
    .div-img:hover img{
        transform: scale(1.05);
    }
    .fonts{

    }
    