<!-- 
  
            <h1 style="text-align: center; margin-top: 5%; font-family: 'Great Vibes'; color: #dc3545 ;">User Profile</h1>
           <div class="container-profile" *ngIf="authService.userData"  >
            
              <div class="div-img">
                <img class="dp" src="{{(authService.userData.photoURL) ? authService.userData.photoURL : '../../../../../assets/dummy-user.jpeg'}}"
                  alt="{{authService.userData.displayName}}">
              </div>
                <div class="div-profile">
                  <h4 class="fonts">Hello: <strong>{{(authService.userData.displayName) ? authService.userData.displayName : 'authService.userData'}}</strong></h4>
                  <p>User ID: <strong>{{authService.userData.uid}}</strong></p>
                  <p>Email: <strong>{{authService.userData.email}}</strong></p>
                  <p>Email Verified: <strong>{{authService.userData.emailVerified}}</strong></p>
                </div>
            </div>
  
     -->
<div class="cont">
  <div>
    <div class="name">
      {{authService.userData.displayName}}
    </div>
    <div class="editbtn">
      Edit Profile
    </div>
    <div class="mail">
      {{authService.userData.email}}
    </div>
  </div>
  <div class="lowcont">
    <div class="parent">
      <div class="c2a">
        <div class="sidenav">
          <ul class="list-unstyled components"> 
              <li class="list">
                  <a routerLink="address"> <span class="fa fa-shopping-bag"></span> &nbsp;Orders</a>
              </li>  
            <li class="list">
                <a routerLink="address"> <span class="fa fa-address-book"></span> &nbsp;Addresses</a>
            </li>
            
            </ul>
        </div>
      </div>
      <div class="c2b">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>