<div class="pagewrapper">
    <!-- <div class="navbarwrapper">
      <div class="tophalfcontentwrapper">
        <div class="topleftcontentwrapper">

        </div>
        <div class="logowrapper">
          My Restaurant
        </div>
        <div class="toprightcontentwrapper">
          <button type="button" class="btn btn-success">Login</button>
          <button type="button" class="btn btn-primary" style="width: 80px">SignUp</button>
        </div>
      </div>
      <div class="bottomhalfcontentwrapper">
        <div class="navbarlinkwrapper">
          <a class="navbarlink" href="">
            ABOUT
          </a>

          <a class="navbarlink" href="">
            BOOKING
          </a>

          <a class="navbarlink" href=" ">
            MENU
          </a>

          <a class="navbarlink" href="">
            DELIVERY
          </a>


          <a class="navbarlink" href="">
            CONTACT
          </a>
        </div>
      </div>
    </div> -->
    <div class="featuredboxwrapper">
      <div class="leftwrapper">
        <div class="featuredheadingwrapper">
          Today's Specials
        </div>
        <div class="featureddetailswrapper">
          <div class="itemheading">Penne Pasta with Vodka Sauce</div>
          <div class="details">Placeholder text about penne pasta  and what it is and other stuff and dietary info maybe.
            Placeholder text about penne pasta and what it is and other stuff and dietary info maybe.</div>
        </div>
        <div class="featuredpricewrapper"><p> &#8377; 550 &nbsp;</p>
        </div>
      </div>
      <div class="rightwrapper">
        <img src="assets/penne.jpeg" alt="Penne Pasta with Vodka Sauce" width=100%>
      </div>
    </div>
    <div class="testimonialswrapper">
      <div class="testimonialsheadingwrapper">Testimonials</div>
      <div class="gridwrapwrapper">
        <div class="gridwrapper">
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
          <div class="griditem">
            <img class="reviewavatar" src="assets/joey.jpeg" alt="Review Avatar">
            <div class="reviewtext">
              <h6>Here is some review text.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="finalwrapper">
      <div class="bottomleftwrapper">
        <iframe width=100% height="680px" src="https://maps.google.com/maps?width=600&amp;height=450&amp;hl=en&amp;coord=28.6313827,77.2197924&amp;q=D%20block%2C%20Connaught%20Place%2C%20New%20Delhi+(My%20Restaurant)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html"></a></iframe>
      </div>
      <div class="bottomrightwrapper">
          <!-- LightWidget WIDGET -->
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/8b957057e118514f9b9c7b3b8b647a15.html"
            scrolling="no" allowtransparency="true" class="lightwidget-widget" width="100%" height="580px"></iframe>
  
        </div>
    </div>
   

  </div>
